*{margin:0;padding: 0;}
a{text-align: none;}
kbd{border:1px solid red;width:4em;height:4em;display: inline-block;
text-transform: uppercase;position: relative;line-height: 4em;}
kbd > button{position: absolute;right:0;bottom:0;
display: none;}
kbd:hover > button{display: inline-block;}
main{text-align: center;}
#mainxxxx{display:inline-block;}
#mainxxxx > div:nth-child(2){
    margin-left: 1em
}
#mainxxxx > div:nth-child(3){
    margin-left: 3em
}
